[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-environ = "*"
dj-database-url = "*"
asgiref = "*"
whitenoise = "*"
brotli = "*"
certifi = "*"
distlib = "*"
filelock = "*"
gunicorn = "*"
platformdirs = "*"
python-dotenv = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.11"
